<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/send/">
        {% csrf_token %}
        <table align="center" border="0">
            <tr>
                <th>Select Option`s</th>
            </tr>
            <tr><td>
                <input type="checkbox" value="cb" name="Movies">Movies
                </td>
            </tr>
            <tr><td>
                <input type="checkbox" value="cb" name="Cartoons">Cartoons
                </td>
            </tr>
            <tr><td>
                <input type="checkbox" value="cb" name="Images">Images
                </td>
            </tr>
            <tr><th>
            <button type="submit">show</button>
            </th></tr>
        </table>
        {{message}}
    </form>
</body>
</html>