{% include 'reuse.html' %}
<style>
    div{
        display: inline-block;
        padding: 15px 25px;
        margin: 5px;
        border-radius: 15px;
    }
</style>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eius expedita minus neque perspiciatis quam
    quo rem reprehenderit? Amet dignissimos doloremque ducimus ea eveniet exercitationem maiores odit, quae suscipit
    voluptas.
</div>
<div>Aliquam animi asperiores atque, doloremque doloribus est et eum, exercitationem, facere fugiat inventore itaque
    laboriosam nulla recusandae sint ut voluptatibus? Inventore laborum obcaecati pariatur quod sunt. Deleniti quas quos
    sequi.
</div>
<div>Ab aliquam cum distinctio fugit maxime omnis voluptatum? Asperiores, autem beatae dolores in soluta ullam vitae
    voluptates? Ad, commodi, culpa dignissimos ea exercitationem hic illo laudantium odio qui quia totam.
</div>
<div>A ad dicta harum, minus quam quisquam soluta temporibus voluptatem? Adipisci alias aliquam consequatur dolores
    error eum facilis harum illum inventore magnam odit qui repellendus soluta tempora ullam unde, voluptates.
</div>