<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.css">
    <title>Title</title>
</head>
<body>
    <header>
        Arjun Hotels
    </header>
    <nav>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'login' %}"><i class="fa fa-home"></i></a>
    </nav>
</body>
</html>