<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>username:</label>
    <input type="text" name="username"><br>
    <label>password:</label>
<input type="password"><br>
    <label>salary:</label>
<input type="password">
<button type="submit">save</button>

<table>
    <tr>
        <td>Uswername</td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>passowrd</td>
        <td><input type="text"> </td>
    </tr>
        <tr>
        <td>salary</td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <th colspan="2"><button type="submit">Save</button> </td>
    </tr>

</table>
</body>
</html>



<table>
    <tr>
        <th>Employee Details</th>
    </tr>
    <tr>
        {{ form }}
    </tr>
</table>