{%load staticfiles%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>
            <img src="{% static 'images/kgf-stills-photos-pictures-13.jpg' %}" >
            <img src="{% static 'images/MV5BNDIwMDYxY2UtM2NhYy00NzkwLThhNDYtY2IxZGZhNjYyNmM2XkEyXkFqcGdeQXVyNDY5MTUyNjU@._V1_.jpg' %}"  width="50" height="150">
               <audio controls>
                   <source src="{% static 'audios/Dochai-Theme-Ringtone.mp3' %}">
               </audio>
                <audio controls>
                   <source src="{% static 'audios/Salaam-Rocky-Bhai-Bgm1.mp3' %}">
                </audio>
                <audio controls>
                   <source src="{% static 'audios/Tharagani-Baruvaina-Humming-Ringtone.mp3' %}">
               </audio>
            </td>
        </tr>
    </table>
</body>
</html>