{%load staticfiles%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br><br><br>
    <table align="center" border="0">
        <tr>
            <td>
            <img src="{% static 'images/kgf-stills-photos-pictures-13.jpg' %}" width="100" height="100">
            <img src="{% static 'images/MV5BNDIwMDYxY2UtM2NhYy00NzkwLThhNDYtY2IxZGZhNjYyNmM2XkEyXkFqcGdeQXVyNDY5MTUyNjU@._V1_.jpg' %}"  width="100" height="100">
               <audio controls>
                   <source src="{% static 'audio/Dochai-Theme-Ringtone.mp3' %}">
               </audio>
                <audio controls>
                   <source src="{% static 'audio/Salaam-Rocky-Bhai-Bgm1.mp3' %}">
                </audio>
                <audio controls>
                   <source src="{% static 'audio/Tharagani-Baruvaina-Humming-Ringtone.mp3' %}">
               </audio>
            </td>
        </tr>
    </table><br><br><br>
    <table align="center" border="0">
        <tr>
            <td>
            <img src="{% static 'images/arya-2/arya-2-1782.jpg' %}" width="100" height="100">
            <img src="{% static 'images/arya-2/Arya 2 (7).jpg' %}"  width="100" height="100">
               <audio controls>
                   <source src="{% static 'audio/arya-2/Hey-Tip-Top-Ringtone.mp3' %}">
               </audio>
                <audio controls>
                   <source src="{% static 'audio/arya-2/Kanulalokostavu-Ringtone.mp3' %}">
                </audio>
                <audio controls>
                   <source src="{% static 'audio/arya-2/Karigeloga-Ringtone.mp3' %}">
               </audio>
            </td>
        </tr>
    </table>
</body>
</html>