<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employee Form</title>
  </head>
  <body>






<form action="/send/" method="post">
        {% csrf_token %}
        <table align="center" border="0" >
            <tr>
                <th>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Employee Details</li>
                        </ol>
                    </nav>
                </th>
            </tr>
            <tr>
                <td>
                   IDNO: <input type="number" name="id" placeholder="IDNO" required>
                </td>
            </tr>
            <tr>
                <td>
                   NAME: <input type="text" name="name" placeholder="NAME" required>
                </td>
            </tr>
            <tr>
                <td>
                   AGE: <input type="number" name="age" placeholder="AGE" required>
                </td>
            </tr>
            <tr>
                <td>
                   SALARY: <input type="number" name="salary" placeholder="SALARY" required>
                </td>
            </tr>
            <tr>
                <td>Designation :
                    <select name="desig">
                        <option>Manager</option>
                        <option>Asst.Manager</option>
                        <option>Supervisior</option>
                        <option>Field Officer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Shift Type :
                    <input type="radio" name="rd" value="morning" >Morning
                    <input type="radio" name="rd"  value="night">Night
                </td>
            </tr>
            <tr>

                <td>Loan`s :<br>
                    <input type="checkbox" name="cb1" value="car">car<br>
                    <input type="checkbox" name="cb2" value="home loan">Home Loan<br>
                    <input type="checkbox" name="cb3" value="personal loan">Personal Loan<br>
                    <input type="checkbox" name="cb4" value="no loan">No Loan<br>
                </td>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="btn btn-primary">Save</button>
                </th>
            </tr>
        </table>
    </form>
    <h3>{{ message }}</h3>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>