{% include "reuse.html" %}




<table align="center">
    <tr><th>Employee Detail`s</th></tr>
    <tr>
        <td>Idno :</td>
        <td>{{ object.idno }}</td>
    </tr>
    <tr>
         <td>Name :</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr>
         <td>Designation :</td>
        <td>{{ object.designation }}</td>
    </tr>
    <tr>
         <td>ISalary :</td>
        <td>{{ object.salary }}</td>
    </tr>
    <tr>
         <td>Contact No :</td>
        <td>{{ object.Contactno }}</td>
    </tr>


</table>