{% include "reuse.html" %}
<style>
    footer{
        text-align: center;
    }
</style>
<h2>Welcome TO Enquiry Page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur beatae doloremque, et facilis modi nemo neque nihil, nulla officia omnis, perferendis porro quia rerum tempore. Debitis deserunt dicta doloremque, expedita hic ipsa repellat ut. Ab adipisci dolorem, doloremque eligendi facere maxime mollitia nobis omnis totam unde! Aspernatur, fugiat, iure.</p>



<footer>
        <h2>Copyrights &copy; 2019</h2>
        <h2>All Rights Reserved</h2>
        <h4>Site Maintained By <a href="https://github.com/ArjunMajeti" target="_blank"><i class="fas fa-users"></i> ArjunMajeti</a><br>
            <a href="{% url 'Github' %}"><i class="fas fa-users"></i> ArjunMajeti</a>
        </h4>

    </footer>