<html>
    <head>
    <title></title>
    </head>
    <body>
    <header>
    <h1>Welcome to Manager Page</h1>
    </header>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi cumque dolor eum sed. Delectus dolor esse fugit inventore iusto labore reiciendis saepe similique voluptates voluptatibus! Eligendi eveniet magnam veritatis.</span></p>


     <a href="{% url 'viewall' %}">
        View All Employees Details
    </a>



    <form action="/managerlogout/">
        <button type="submit">Logout</button>
    </form>



    </body>

</html>
