{% load static %}
{% include 'reuse.html' %}
<style>
    img {
        border-radius: 15px;
    }

    div {
        display: inline-block;
        background-color: coral;
        width: 300px;
        padding: 15px;
        margin: 15px;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
    }

    div:hover {
        background-color: #d09a2e;
        color: white;
        x
    }
</style>

<img src="{% static 'images/biggest-achievement.jpg' %}" width="100%" height="400px">

<div>
    <h2>Awards :-</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eligendi est, excepturi expedita
    illo nam odio
    voluptatem voluptatum! Asperiores earum esse excepturi iure laborum modi nisi placeat reiciendis saepe sit!
</div>
<div>
    <h2>Our Motto :-</h2>
    A ab, at blanditiis consectetur, dolorum ducimus ex illum labore laudantium modi molestiae obcaecati officia
    placeat porro provident quo rem rerum sed similique soluta suscipit ullam velit voluptatem! Dolore, sunt.
</div>
<div>
    <h2>Prizes :-</h2>
    Cumque doloribus eveniet id placeat possimus! Aliquid consequatur corporis incidunt ipsam laboriosam perspiciatis
    porro possimus quo soluta voluptate. Aliquam at culpa doloribus illum libero maiores ratione sit vero vitae
    voluptates!
</div>
<div>
    <h2>Runner-up`s:-</h2>
    Accusamus ad earum eos esse eveniet, fuga minima nesciunt nulla omnis quia, quidem, reiciendis repellendus
    suscipit. Ab accusamus aperiam autem blanditiis debitis, exercitationem nam odio, provident rem sunt, veritatis
    voluptate.
</div>


<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>