{% load static %}
{% include 'reuse.html' %}
<style>
    table {
        background-color: blanchedalmond;
        margin-top: 15px;
        width: 400px;
        border-radius: 15px;
        box-shadow: 0 0 5px black;
    }

    th {
        padding: 15px;
    }

    div {
        display: inline-block;

    }
</style>
<div>
    <img src="{% static 'images/company-profile-img.jpg'%}">
    <strong>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa delectus dolor dolore eius esse ex
            facere
            inventore itaque iusto, magni nobis omnis perspiciat<br>
            is praesentium quae repellendus sequi sit unde?
            Ad adipisci alias animi autem ducimus, eum fugiat minima molestias nam, odio pariatur, soluta tenetur ut vel
            vero?
            Amet aperiam culpa dolorem, eos expedita in <br>natus optio veniam vero voluptate?
            Adipisci asperiores assumenda aut commodi corporis culpa cum debitis, deserunt dolor et excepturi
            exercitationem
            illo itaque modi nemo obcaecati perferendis placeat saepe sunt ut veritatis vero vitae? Blanditiis in,
            libero.

            A aspernatur, dolores ex excepturi exercitationem fa<br>cere ipsam maxime, minima mollitia natus neque nisi
            obcaecati
            quam saepe sapiente sint suscipit tempora tenetur! Delectus dolorum, esse facilis odio quidem quisquam ut?
            Eaque esse est exercitationem magni nesciunt nihil qui repudiandae. Ad adipisci cumque est eveniet, id
            incidunt
            minus nobis, odit quod sequi sit ut veritatis voluptatibus. Blanditiis, ea, tempore. Fugit, labore.


        </div>
    </strong>
</div>
<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>