{% load static %}
{% include 'reuse.html' %}
<style>
    div {
        display: inline-block;
        padding: 15px;
        background-color: dodgerblue;
        margin: 5px;
        box-shadow: 0 0 10px black;
        border-radius: 15px;

    }
</style>
<img src="{% static 'images/group-company.jpg' %}" width="100%" height="400px">
<div>
    <h2 style="color: blanchedalmond">Naga Sai Group Of Companies :-</h2>Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Aliquam, aspernatur commodi consequatur culpa itaque
    reprehenderit sint voluptatum. A adipisci, aspernatur cum eligendi magni natus nobis porro! Ea nam neque velit.
</div>
<div>Architecto aspernatur cum cupiditate dignissimos eius et facere fugiat, fugit labore laudantium maxime minima
    mollitia nam officia placeat, provident quas quod quos sapiente voluptas! Deleniti impedit nesciunt pariatur
    perspiciatis ratione.
</div>
<div>Atque, aut beatae corporis cupiditate debitis eligendi est harum laboriosam nisi perspiciatis quod sapiente
    sint suscipit unde veritatis<a href="/viewall/">Viewall</a> vitae voluptatum. Aperiam at consequuntur debitis
    eveniet, optio placeat quas
    similique soluta.
</div>
<div>Doloremque eos laudantium reiciendis sunt vero. Animi debitis neque nisi possimus velit. Ad amet asperiores
    beatae cum facere illum incidunt inventore, iure maxime minima numquam officiis, possimus sint ut voluptatem!
</div>
<div>Ducimus enim natus quo vitae voluptas voluptatem! Alias distinctio dolorem ipsam laborum magni perferendis
    veniam veritatis. Asperiores distinctio doloremque dolores doloribus ea est fuga nihil perferendis perspiciatis
    recusandae sunt, voluptates.
</div>


<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>