<html>
    <body>
    <form action="/updatee/" method="post" >
        {% csrf_token %}
    {% for x in data %}
    <table align="center">
        <tr>
            <th>Update Details</th>
        </tr>
        <tr>
            <td><label>Idno</label></td>
            <td><input type="number"  required name="idno" readonly value="{{ x.idno }}" ></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" name="name" required value="{{ x.name }}" ></td>
        </tr>
        <tr>
            <td><label>Salary</label></td>
            <td><input type="number" required name="salary" value="{{ x.salary }}" ></td>
        </tr>
        <tr>
            <td><label>Contact No</label></td>
            <td><input type="number" required name="cn" value="{{ x.cn }}" ></td>
        </tr>

        <tr>
            <th><button type="submit">Update Details</button> </th>
        </tr>

    </table>
    {% endfor %}
    </form>
    </body>
</html>