<html>
    <body>
    <table align="center">
        <tr>
            <th colspan="3">Staff Details</th>
        </tr>
        <tr>
            <td>Idno</td>
            <td>Name</td>
            <td>Salary</td>
            <td>Contact No</td>
            <td>Update Details</td>
            <td>Delete</td>
        </tr>
        {% for x in data %}
            <tr>
            <th width="50">{{ x.idno}}</th>
            <th width="50">{{ x.name }}</th>
            <th width="50">{{ x.salary }}</th>
            <th width="50">{{ x.contactno }}</th>
            <th width="50">
                <form action="/update/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="idno" value="{{ x.idno }}">
                    <button type="submit">Yes</button>
                </form>

            </th>
            <th>

                <a href="{% url 'delemp'%}">
                    yes</a>
            </th>
            </tr>
        {% endfor %}

    </table>
    </body>
</html>