{% include 'reuse.html' %}

<style>
    div{
        display: inline-block;
        padding: 15px;
        margin: 5px;
    }
</style>
<div>
    <h2 style="font-size: 35px; color: orangered ">Construction Business :-</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur corporis dicta dignissimos dolor
    doloribus, ea error esse eveniet, explicabo id illum natus neque nostrum omnis porro, quod repellat soluta?
</div>
<div>
    <h2 style="font-size: 35px; color: orangered ">Software Business :-</h2>laudantium nisi reiciendis vel. Odit rerum tenetur voluptatum. Ad ipsa minus mollitia nostrum odio,
    perspiciatis quasi qui quia quidem sequi. Culpa dicta doloremque eum laboriosam qui ratione repudiandae sequi?
</div>
<div>
    <h2  style="font-size: 35px; color: orangered ">Poultary Business:-</h2>
    Adipisci aliquid, atque beatae dolor dolorem ea incidunt, ipsam libero minima nam, nisi officiis optio quas qui quo
    repellat sint ut velit! Consequatur consequuntur, cum doloremque minima minus saepe similique.
</div>
<div>
    <h2  style="font-size: 35px; color: orangered ">Hotel Business :-</h2>
    Assumenda at commodi cum cumque dolores doloribus exercitationem facere hic ipsam laborum nobis numquam officia
    omnis, quam, qui sit tempora ullam velit voluptas voluptates? Impedit iure laborum maxime tempore voluptate!
</div>
<div>Ab adipisci amet deserunt eligendi et excepturi facilis incidunt modi molestiae molestias nam optio perspiciatis
    porro qui, quidem quis quisquam quos, rem saepe sequi tempora totam velit veniam, voluptas voluptatum.
</div>
<div>Cupiditate dolorem officiis optio. Debitis deserunt dolorem ea, earum est, facere hic iure nisi perferendis
    perspiciatis quidem suscipit ullam ut. Eveniet harum, laboriosam mollitia porro quis quo vel? Expedita, tenetur!
</div>


<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>