{% load staticfiles %}
{% include 'reuse.html' %}

<style>
    div{
        margin-top: 100%;
        display: inline-block;
        background-color: darkgrey;
        margin: 5px;
        width: 350px;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
    }
    img{
        border-radius: 15px;
    }
</style>

<img src="{% static 'images/contact us.jpg' %}" width="100%" height="400px">
<h1 style="color: orangered">Contact Us:-</h1>
    <div>
    <h2 style="color:white">Corporate Office:-</h2>
Dev Dhanuka Prestige,
Banjara Hills,Road No.12,
Plot No.8 (8A-8B),
Upper Ground Floor (Unit No. UG 3)
Hyderabad- 500 ​034​,
Telangana, India.
Tel: +91 98 49 298000
Tel: +91 40 ​23398098/ 99,
contact@globalagripl.com​.
    </div>
     <div>
         <h2 style="color:white">Branch  :-</h2>
Dev Dhanuka Prestige,
Banjara Hills,Road No.12,
Plot No.8 (8A-8B),
Upper Ground Floor (Unit No. UG 3)
Hyderabad- 500 ​034​,
Telangana, India.
Tel: +91 98 49 298000
Tel: +91 40 ​23398098/ 99,
contact@globalagripl.com​.
 </div>
     <div>
         <h2 style="color:white">Outlet Address :-</h2>
Dev Dhanuka Prestige,
Banjara Hills,Road No.12,
Plot No.8 (8A-8B),
Upper Ground Floor (Unit No. UG 3)
Hyderabad- 500 ​034​,
Telangana, India.
Tel: +91 98 49 298000
Tel: +91 40 ​23398098/ 99,
contact@globalagripl.com​.
 </div>


<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>