{% load staticfiles %}
{% include 'reuse.html' %}


<table>
    <tr>
        <th style="font-size: 35px; color: orangered ">Construction Business :-</th>

    <tr>
        <td width="500" height="300"><img src="{% static 'images/construction1.jpg' %}" ></td>
        <td width="500" height="300"><img src="{% static 'images/construction2.jpg' %}"  ></td>
    </tr>
    <tr>
        <th  style="font-size: 35px; color: orangered ">Software Business :-</th>
    </tr>
    <tr>
        <td width="500" height="300"><img src="{% static 'images/Software Company.jpg' %}" ></td>
        <td width="500" height="300"><img src="{% static 'images/Software comp 2.jpg' %}"></td>
    </tr>
    <tr>
        <th  style="font-size: 35px; color: orangered ">Poultary Business:-</th>
    </tr>
    <tr>
        <td width="500" height="300"><img src="{% static 'images/poultary 1.jpg' %}" ></td>
        <td width="500" height="300"><img src="{% static 'images/poultary 2.jpg' %}" ></td>
    </tr>

    <tr>
        <th  style="font-size: 35px; color: orangered ">Hotel Business :-</th>
    </tr>
    <tr>
        <td width="500" height="300"><img src="{% static 'images/Hotel1.jpg' %}" ></td>
        <td width="500" height="300"><img src="{% static 'images/hotel 2.jpg' %}" ></td>
    </tr>


</table>


<footer style="text-align: center">
    <h2>
        Copyright &copy; 2016-2022
    </h2>
    <h3>All Rights reserved</h3>
    <h6>
        Site maintained By <a href="">Arjunmajeti</a>
    </h6>
</footer>